@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
body {
  font-family: 'Tiro Gurmukhi', serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
